body {
font-family: 'Verdana', sans-serif;
margin: 0 auto;
width: 1300px;
}

#header {
background: url("amazon.jpg") no-repeat scroll 0 0;
height: 115px;
margin: 0;
padding: 0;
border-bottom-style: solid;
border-bottom-color: #2c739b;
}

#respuesta {
background: #cddedd;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
padding-top: 10px;
color: #1e6085;
}

ul li {
list-style-type: none;
}

table
{
border-collapse:separate;
margin-left: auto; 
margin-right: auto; 
}

table,th, td
{
border: 2px groove #2c739b;
text-align: center;
vertical-align: center;
}

th
{
background: #f8f62e;
}

td
{
padding: 2px;
background: #fffd5e;
}

#enla
{
width: 60%;
}
